[user]
	name = NavardoW
    email = navardowilliamsrei@gmail.com

[alias]
    ci = commit
    cm = commit -m
    ca = commit --amend
    cane = commit --amend --no-edit
    lg = log --oneline --graph --decorate --all
    graph = log --oneline --graph --decorate --all
    last = log -1 HEAD
    s = status
    delb = branch -d
    delob = push origin --delete #when remote name is origin

[init]
	defaultBranch = main
