[user]
	name = NavardoW
    email = navardowilliamsrei@gmail.com

[alias]
    ci = commit
    cm = commit -m
    ca = commit --ammend
    cane = commit --ammend --no-edit
    lg = log --oneline --graph --decorate --all
    graph = log --oneline --graph --decorate --all
    last = log -1 HEAD

