[Unit]
Description=Kanata keyboard remapper
After=systemd-udevd.service

[Service]
Type=simple
# laptop
ExecStart=/usr/bin/kanata -c /home/Vardo/.dotfiles/config/kanata/kanata.kbd
# pc
# ExecStart=/usr/bin/kanata -c /home/vardo/.dotfiles/config/kanata/kanata.kbd
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
